.mypy_cache
.idea
.venv
*.swp
*.log
.DS_Store
__pycache__
*~
xml2sql/xml/*
sql2lex/out/*
sql2xml/out/*
raw2xml/data/*
raw2xml/out/*
!.keep
*.txt
*.tar.gz
*.tgz
/*.sql
/*.csv
/*.xml
*.tsv
/data/*
/out/*
.venv
