[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
lxml = "*"
argparse = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
